body{
    background-color: honeydew;
    margin: auto;
    font-size:verdana ,helvetica, sans-serif;
}

h1{
    padding: 30px 100px;
    background-color: sandybrown;
    color: red;
    text-align: center;
}

h2{
    color: rgb(216, 196, 196);
    background-color: rgb(70, 39, 39);
    border-bottom: sienna solid 3px;
    padding: 10px;
}

a{
    text-decoration: none;
}

a:hover{
    background-color: salmon;
    color: rgb(58, 40, 7);
}

a:active{
    color: orange;
}